* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Lato, sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  background: linear-gradient(90deg, #ededed 1px, transparent 1%) 1px, #fff;
  background-size: calc(25% - 1px) 1px;
}

.header {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 114px;
}

.nav {
  overflow: hidden;
}

.nav-item {
  display: inline-block;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 3px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #007fff;
  padding-top: 17px;
  padding-bottom: 20px;
}

.avatar {
  display: inline-block;
  width: 52px;
  height: 52px;
  background: url(../img/avatar.png);
  background-size: cover;
  text-indent: -9999px;
}

.nav-item:first-child {
  margin-right: 70px;
  float: left;
}

.nav-item:nth-child(2) {
  float: left;
}

.nav-item:nth-child(3) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-item:nth-child(4) {
  float: right;
  margin-left: 70px;
}

.nav-item:last-child {
  float: right;
}

.title {
  margin: 0 auto 56px;
  text-align: center;
  font-size: 48px;
  line-height: 1.25;
  text-transform: capitalize;
}

.link {
  text-decoration: none;
  color: #007fff;
}

.socials {
  text-align: center;
  font-size: 0;
  height: 16px;
  line-height: 16px;
}

.social-item {
  display: inline-block;
}

.social-item:nth-child(n) {
  margin-right: 30px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link-twitter {
  display: inline-block;
  background: url(../img/twitter.svg);
  width: 17px;
  height: 13.8px;
  margin-top: 1px;
  background-size: cover;
}

.social-link-be {
  display: inline-block;
  background: url(../img/be.svg);
  width: 21px;
  height: 13px;
  margin-top: 1px;
  background-size: cover;
}

.social-link-instagram {
  display: inline-block;
  background: url(../img/instagram.svg);
  width: 16px;
  height: 16px;
  background-size: cover;
}
