* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.nav-header {
  max-width: 1100px;
  text-align: center;
  margin: 100px auto;
}

.nav {
  overflow: hidden;
}

.nav-item {
  display: inline-block;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 3px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #007fff;
  padding-top: 17px;
  padding-bottom: 20px;
}

.avatar {
  margin: 0px 248px;
  display: inline-block;
  width: 52px;
  height: 52px;
  background: url(../img/avatar.png);
  background-size: cover;
  text-indent: -9999px;
}

.nav-item:first-child {
  margin-right: 70px;
  float: left;
}

.nav-item:nth-child(2) {
  float: left;
}

.nav-item:nth-child(3) {
  position: relative;
  left: 10px;
}

.nav-item:nth-child(4) {
  float: right;
  margin-left: 70px;
}

.nav-item:last-child {
  float: right;
}

.quote {
  margin: 0 auto 56px;
  text-align: center;
  width: 550px;
  height: 120px;
  font-family: Lato;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
  margin-top: 114px;
}

.link {
  text-decoration: none;
  color: #007fff;
}

.socials {
  text-align: center;
  font-size: 0;
  height: 16px;
  line-height: 16px;
}

.social-item {
  display: inline-block;
  height: 16px;
  line-height: 16px;
}

.social-item:nth-child(2) {
  margin: 0 30px;
}

.social-link-twitter {
  display: inline-block;
  background: url(../img/twitter.svg);
  width: 17px;
  height: 13.8px;
  margin-top: 1px;
  margin-bottom: 1.2px;
  background-size: cover;
}

.social-link-be {
  display: inline-block;
  background: url(../img/be.svg);
  width: 21px;
  height: 13px;
  margin-top: 1px;
  margin-bottom: 2px;
  background-size: cover;
}

.social-link-instagram {
  display: inline-block;
  background: url(../img/instagram.svg);
  margin: 0px;
  width: 16px;
  height: 16px;
  background-size: cover;
}
